doctype.html
html
  head
    title Admin Menu page
  body
    div.container
      h1 Admin Menu
      br
      br
      input.btn(type="button",value="Status Change",onclick="window.location.pathname='/shop/admin/menu/status'")
      br
      br
      input.btn(type="button",value="Insert",onclick="window.location.pathname='/shop/admin/menu/insert'")
      br
      br
      input.btn(type="button",value="Delete",onclick="window.location.pathname='/shop/admin/menu/delete'")
