doctype.html
html
  head
    title Customer Home page
  body
    div.container
      h1 Home
      br
      br
      input.btn(type="button",value="Login",onclick="window.location.pathname='/shop/cust/login'")
      br
      br
      input.btn(type="button",value="Register",onclick="window.location.pathname='/shop/cust/regis'")
