doctype.html
html
  head
    title Customer Menu page
  body
    h1 Customer Menu
    script.
      alert(billList[0].name);
    div.container
      br
      br
      input.btn(type="button",value="Item List",onclick="window.location.pathname='/shop/cust/menu/list'")
      br
      br
      input.btn(type="button",value="Order",onclick="window.location.pathname='/shop/cust/menu/order'")
      br
      p #{error}
