doctype.html
html
  head
    title Index page
    link(rel='stylesheet',href='/stylesheets/index.css')
  body
    div.container
      br
      br
      input.btn(type="button",value="Admin",onclick="window.location.pathname='/shop/admin'")
      br
      br
      input.btn(type="button",value="Customer",onclick="window.location.pathname='/shop/cust'")
